<div>
  <%= f.label :name, "選択肢", class: "block text-lg font-semibold" %>
  <%= f.text_field :name, class: "w-full p-3 border rounded-lg", placeholder: "選択肢" %>
</div>
<div>
  <%= f.label :is_valid, "正解", class: "block text-lg font-semibold" %>
  <%= f.check_box :is_valid, class: "ml-2" %>
</div>
<button type="button" class="remove-choice text-red-500 hover:text-red-700 mt-2">この選択肢を削除</button>
